<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Monoton&display=swap" rel="stylesheet">
    style 
        include ../static/style.css
        include ../static/style2.css
</head>
<body>
    <nav class="nav">
        <ul>
           
        <li><a href="#home">HOME</a><li>
        <li><a href="#about">ABOUT</a><li>   
        <li><a href="#services">SERVICES</a><li>
        <li><a href="#contactus">CONTACT US</a><li>
        
        </ul>
    <div id="logo">
        
        <img src="https://www.bing.com/images/blob?bcid=S0azB7ysFCADJA" class="center" height="120px">
        </div>
       
    </nav>
    <div id="home">
        <h1 class="heading">FAST and CONVENIENT Way of DELIVERING</h1>
        <p class="heading2">B   F   A   S    T</p>

    </div>

    <div>
    <img src="https://media0.giphy.com/media/Kffm96pukpz0HutE1O/giphy.gif?cid=ecf05e471jvrzp3hx02u4rp533lmtollbo3brauvjs96073t&rid=giphy.gif&ct=g"class="gif1" width="230px" height="170px">
    </div>

    <div id="form" >
        <h2>PARCEL DELIVERY FORM</h2>
        <div id="information">
        <div id="information1">
        
        <h3>
            |Personal Information

        </h3>
        
        <hr>
        <form action="/a" method="post" id="pc">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="text" name="phone" id="phone" placeholder="Enter your phone-number">
            <input type="text" name="email" id="email" placeholder="Enter your e-mail">
            <button class="btn1">Submit</button>

        </form>
        </div>
        <div id="information2">
        <h3> Package Information </h3>
        <hr>
        <form id="pi">
        
        <input type="text" name="weight" id="weight" placeholder="Weight (lbs)">
        <input type="text" name="width" id="width" placeholder="Width (in)">
        <input type="text" name="length" id="length" placeholder="Length (in)">
        <input type="text" name="height" id="height" placeholder="Height (in)">
        <textarea id="message" name="message" rows="6" cols="26" placeholder="Description of the parcel">

        </textarea>
        <button class="btn2">Submit</button>
        </form>
        </div>
        </div>
        
    </div>
    <div id="about">
        <h1>About Us</h1>
    </div>
    <div id="aboutpara">
        <p>We are a group of highly dedicated people working towards the ease of people life. We at Bfast are providing delivery services in effective cost with full security of your goods.

        </p>
    
        
    <div id="aboutimg">
        <img src="https://thumbs.dreamstime.com/b/man-cargo-delivers-goods-boxes-using-points-map-concept-employee-character-desert-modern-technology-device-158987166.jpg" width="390px">
    </div>
    </div>
    <div id="services">
        <h1>Our Services</h1>

    </div>
    <div id="servicespara1">
        <div id="servicesimg1">
            <img src="https://th.bing.com/th/id/OIP.TFiJv9hdnmUafF3OB5AMIAHaFV?w=229&h=180&c=7&o=5&dpr=1.5&pid=1.7" height="200px" width="250px">
        </div>
    <p>
        |1.   We deliver your parcel within least possible time.
    </p>
        
    </div>
    <div id="servicespara2">
        <div id="servicesimg2">
            <img src="https://www.thegreenhead.com/imgs/clevermade-package-delivery-lock-box-1.jpg" height="200px" width="250px">
        </div>
    <p>
        |2.   We take care of your goods. It's our responsibility to deliver your goods with security.
    </p>
        
    </div>
    <div id="servicespara3">
        <div id="servicesimg3">
            <img src="https://www.itsecurityguru.org/wp-content/uploads/2019/03/globalplat.jpg" height="190px" width="250px">
        </div>
    <p>
        |3. We have included AI and machine learning feature which gives you live status of your goods  .
    </p>
        
    </div>

    <div id="contactus">
        
        <h1>Contact Us</h1>
    </div>
    <div id="contactinfo">
        
        <h2 id="getintouch"> GET IN TOUCH</h2>
    </div>
    <div id="contactinfo2">

        <div id="one">
        <h3 >E-mail</h3>
        <p>contact@Bfastservices.com</p>
        <h3>Phone-number</h3>
        <p>6264403416</p>
        <h3>Office address</h3>
        <p>Dhori nagar, Islampur Jhunjhunu, Rajasthan<br>333024
        </p>
        </div>

        <form action="/" method="post" id="pi2">
        
            <input type="text" name="Name" id="Name" placeholder="Enter your name">
            <input type="text" name="Phone" id="Phone" placeholder="Enter your phone-number">
            <input type="text" name="Email" id="Email" placeholder="Enter your E-mail id">
            
            <textarea id="Message" name="Message" rows="8" cols="40" placeholder="Message for us/Any query">
    
            </textarea>
            <button class="querybutton">Submit</button>

        </form> 

    </div>
    <footer>
        Copyright &copy; www.Bfastservices.com . All rights Reserved!
    </footer>

    <!-- <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h1 class="heading-section">Contact Form </h1>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="wrapper">

                    </div><div class="row no-gutters">
                        <div class="col-md-6">

                        </div><div class="contact-wrap w-100 p-lg-5 p-4">
                            <h3 class="mb-4">Send us a message</h3>
                            <div id="form-message-warning" class="mb-4"></div> 
                            <div id="form-message-success" class="mb-4">
                                |Your message was sent, thank you!
                            </div>
                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12"> 
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="info-wrap w-100 p-lg-5 p-4 img">
                            <h3>Contact us</h3>
                            <p class="mb-4">We're open for any suggestion or just to have a chat</p>
                            <div class="dbox w-100 d-flex align-items-start">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-map-marker"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-phone"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-paper-plane"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                                </div>
                            </div>
                            <div class="dbox w-100 d-flex align-items-center">
                                <div class="icon d-flex align-items-center justify-content-center">
                                    <span class="fa fa-globe"></span>
                                </div>
                                <div class="text pl-3">
                                    <p><span>Website</span> <a href="#">yoursite.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section> -->



    
    
</body>
</html>